*.DS_Store
w5_batch_processing/data
w5_batch_processing/*.parquet
w5_batch_processing/zones
w5_batch_processing/*.csv
.ipynb_checkpoints/
w2_workflow_orchestration/airflow/logs/scheduler
w2_workflow_orchestration/prefect/data
w2_workflow_orchestration/prefect/flows/02_deployment/data
*-deployment.yaml
w5_batch_processing/fhv/*

# Byte-compiled / optimized / DLL files
__pycache__/